* {
    font-family: 'Rubik';
}

@media screen and (max-width:375px) {

    .logo {
        margin-top: 30px;
        margin-left: 20px;
    }

    .menu-btn {
        margin-top: -25px;
        margin-bottom: 30px;
        margin-left: 300px;
    }

    .menu-bar {
        display: none;
    }

    /* section-1 */

    .home-img {
        position: absolute;
        top: 40%;
        right: 5px;
        width: 320px;
        height: 200px;
        background: #1743e3;
        border-radius: 0px 0px 0PX 110px;
        z-index: -1;
    }

    .sec-1 .img1 {
        margin-top: 30px;
        height: 250px;
    }

    .sec-1 h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .sec-1 p {
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        color: hsl(229, 8%, 60%);
    }

    .btn2 {
        display: inline block;
        text-align: center;
        margin-left: 50px;
        padding: 12px 3px;
        border: 1px solid;
        border-radius: 5px;
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    .btn3 {
        display: inline block;
        text-align: center;
        width: 150px;
        padding: 12px 3px;
        border: 1px;
        border-radius: 5px;
        background-color: whitesmoke;
        box-shadow: 1px 5px 5px rgb(242, 241, 241);
        color: gray;
    }

    .button {
        margin-top: 40px;
    }


    /* section-2 */

    .sec-2 .home-img2 {
        position: absolute;
        top: 320%;
        left: 5px;
        width: 320px;
        height: 200px;
        background: #1743e3;
        border-radius: 0px 0px 110px 0px;
        z-index: -1;
    }

    .sec-2 .img2 {
        height: 210px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .sec-2 h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        margin-top: 100px;
    }

    .sec-2 p {
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        color: hsl(229, 8%, 60%);
    }

    .contant2 p {
        border-bottom: groove 2.9px #79747410;
        height: 40px;
    }

    .answer {
        color: rgb(163, 163, 163);
        font-family: "Work Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        display: none;

    }

    .contant2 {
        margin-top: 40px;
        border-top: groove 4.9px #79747410;
    }

    .contant3 h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .contant3 p {
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        color: hsl(229, 8%, 60%);
    }

    /* section-3 */
    .sec-3 {
        margin-top: 150px;
    }

    .sec-3 h1 {
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .sec-3 p {
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        color: hsl(229, 8%, 60%);
    }

    .sec-3 .img1 {
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 60px;
        width: 280px;
        height: 350px;
        margin-left: 40px;
    }

    .chrome {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 15px;
    }

    .dots {
        margin: 30px;
        margin-left: -1px;
    }

    .image {
        margin-left: 50px;
        padding: 15px 10px;
        border: 1px;
        border-radius: 5px;
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    .firefox {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 15px;

    }

    .opera {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 15px;

    }
}

/* section-4 */
.sec-4 h1 {
    margin-top: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.contant p {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: hsl(229, 8%, 60%);
}

.question {
    margin-top: 70px;

}

.question p {
    justify-content: space-between;
    font-weight: bold;
    align-items: right;
    justify-content: right;
    margin-left: 20px;
    font-size: 14px;
    color: hsl(250, 10%, 60%);
    border-bottom: groove 1.5px #80808010;
}

.arrow {
    margin-left: 330px;
    margin-top: -70px;
    margin-bottom: 40px;
}

.up-arrow {
    margin-left: 330px;
    margin-top: -60px;
    margin-bottom: 40px;
    height: 21px;
    width: 22px;
    display: none;
}

.button5 {
    margin-top: 30px;
}

.btn5 {
    display: inline block;
    text-align: center;
    width: 150px;
    padding: 17px 20px;
    border: 1px;
    border-radius: 5px;
    justify-content: center;
    margin-left: 120px;
    margin-top: 90px;
    background-color: hsl(231, 69%, 60%);
    color: white;
}

/* sevtion-5 */
.sec-5 {
    padding: 60px;
    margin-top: 100px;
    background-color: hsl(231, 69%, 60%);
}

.sec-5 h3 {
    font-size: 10px;
    color: white;
    text-align: center;
    font-family: 'Space Mono';
    letter-spacing: 3px;
}

.sec-5 h2 {
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 200px;
}

.form {
    margin-top: 20px;
}

.lable {
    margin-top: 30px;
    margin-left: -20px;
    height: 50px;
    width: 270px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    color: rgb(147, 159, 171);

}

.link {
    background-color: rgb(239, 79, 95);
    margin-top: 8px;
    margin-left: -20px;
    height: 50px;
    width: 276px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
}

.sec-6 {
    padding: 30px;
    background-color: hsl(229, 31%, 21%);
}

.logo2 {
    text-align: center;
    margin-top: 10px;
}

.menu {
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    color: white;
    line-height: 50px;
}

.icon {
    margin-top: 40px;
    text-align: center;
    letter-spacing: 40px;
}

/* 
*  ============================
*         MEDIA QUERIES
*  ============================ 
*/
@media screen and (min-width: 700px) {
    .logo {
        margin-top: 80px;
        margin-left: 150px;
    }

    .menu-btn {
        display: none;
    }

    .nav {
        list-style: none;
        justify-content: space-between;
        font-size: 1em;
    }

    .menu-bar {
        display: flex;
        list-style: none;
        justify-content: right;
    }

    .menu-bar li {
        font-size: 1em;
        font-weight: lighter;
        padding-right: 150px;
        list-style: none;
        margin-top: -50px; 
    }
    .menu-bar li:hover{
        border: 1px solid hsl(0, 94%, 66%);
        color: hsl(0, 94%, 66%);
    }


    /* section-1 */

    .home-img {
        position: absolute;
        top: 40%;
        right: 5px;
        width: 560px;
        height: 320px;
        background: #1743e3;
        border-radius: 0px 0px 0PX 110px;
        z-index: -1;
    }

    .img1 {
        margin-left: 700px;
    }

    .contant {
        margin-top: 50px;
    }

    .section-2 {
        max-width: 550px;
        margin-top: -450px;
        margin-left: 150px;
        margin-right: 20px;
    }

    .contant h1 {
        font-size: 50px;
    }

    .contant p {
        font-size: 20px;
        text-align: left;
        line-height: 30px;
    }

    .button {
        margin-top: 50px;
    }

    .btn2 {
        display: inline block;
        text-align: center;
        margin-left: 50px;
        padding: 19px 20px;
        border: 1px solid;
        border-radius: 8px;
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    .btn2:hover {
        background: transparent;
        color: #1743e3;
        cursor: pointer;
    }

    .btn3 {
        display: inline block;
        text-align: center;
        width: 150px;
        padding: 19px 20px;
        border: 1px solid gray;
        border-radius: 8px;
        background-color: whitesmoke;
        box-shadow: 1px 5px 5px rgb(242, 241, 241);
        color: gray;
        cursor: pointer;
    }

    /* section-2 */
    .sec-2 .contant {
        max-width: 550px;
        margin-top: 200px;
        margin-left: 450px;
    }

    .sec-2 h1 {
        text-align: center;
        font-size: 30px;
    }

    .sec-2 p {
        text-align: center;
    }

    .contant2 {
        margin-top: 40px;
        border-bottom: groove 1.5px #a8979710;
    }

    .contant2 p {
        display: inline-block;
        margin-right: 20px;
    }

    .img2 {
        margin-top: 40px;
        margin-left: -350px;
    }

    .sec-2 .home-img2 {
        position: absolute;
        top: 150%;
        left: 5px;
        width: 500px;
        height: 300px;
        background: #1743e3;
        border-radius: 0px 0px 110px 0px;
        z-index: -1;
    }



    .contant3 h1 {
        margin-top: 200px;
        text-align: center;
        margin-left: 200px;
    }

    .contant3 p {
        margin-left: 200px;

    }

    /* section-3 */

    .section-3 {
        max-width: 700px;
        margin-top: 100px;
        margin-left: 300px;
    }

    .section-3 h1 {
        text-align: center;
        font-size: 30px;
    }

    .section-3 p {
        text-align: center;
        font-size: 20px;
        color: hsl(229, 8%, 60%);
    }

    .sec-3 .container {
        display: flex;
        justify-content: center;
    }

    .sec-3 .img1 {
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 60px;
        width: 280px;
        height: 350px;
        margin-left: 40px;
    }

    .chrome {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        text-align: center;
        font-size: 15px;
    }

    .dots {
        margin: 30px;
        margin-left: -1px;
    }

    .sec-3 .img1 {
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 60px;
        width: 280px;
        height: 350px;
        margin-left: 40px;
    }

    .firefox {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 15px;
    }

    .dots {
        margin: 30px;
        margin-left: -1px;
    }

    .opera {
        margin-left: 80px;
        margin-top: 40px;
    }

    .content h1 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 15px;
    }

    .dots {
        margin: 30px;
        margin-left: -1px;
    }

    .image {
        margin-left: 50px;
        padding: 15px 10px;
        border: 1px solid hsl(231, 69%, 60%);
        border-radius: 5px;
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    .image:hover {
        background: transparent;
        color: #1743e3;
    }


    /* section-4 */
    .sec-4 {
        max-width: 600px;
        margin-left: 400px;
    }

    .arrow {
        margin-left: 500px;
    }

    .answer {
        display: none;
    }

    .btn5 {
        margin-left: 220px;
    }

    .question p {
        font-size: 15px;
        color: rgb(128, 119, 119);
        font-weight: 10px;
    }

    /* section-5 */

    .content5 {
        max-width: 400px;
        margin-left: 350px;

    }

    .sec-5 {
        padding: 150px;
        margin-top: 100px;
    }

    .sec-5 h3 {
        font-size: 15px;
        letter-spacing: 4px;
        font-weight: 100;
        margin-top: -40px;
    }

    .sec-5 h2 {
        font-size: 30px;
    }

    .form {
        margin-top: 20px;
    }

    .lable {
        margin-top: 30px;
        margin-left: 350px;
    }

    .link {
        margin-left: 20px;
        width: 100px;
    }

    .link:hover {
        background: white;
        color: orange;
        border: 2px solid orange;
    }

}